// COLORS
$primary-color: #345e7d;
$secondary-color: #6da7cc;

$white-color: #e3ebf2;

$dark-grey: #2b4257;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
